      * {
        padding: 0;
        margin: 0;
      }
      .light-blue {
        background-color: #61b0c4;
      }

      .darker-blue {
        background-color: #3282a0;
      }

      .darkest-blue {
        background-color: #214e77;
      }

      #hero .container {
        display: grid;
        grid-template-rows: 234px 86px 160px 280px;
        grid-template-columns: 1fr 2fr 1fr;
        padding-top: 50px;
        background-color: #61b0c4;
      }

      .image {
        grid-area: 1 / 2 / 4 / 2;
        display: flex;
        flex-direction: column;
      }

      .headers {
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        grid-area: 4 / 1 / -1 / -1;
      }

      @font-face {
        font-family: "fineday";
        src: url("./fineday-style-one_freefontdownload_org/fineday-style-one.woff2")
          format("woff2");
      }

      @font-face {
        font-family: "cubao";
        src: url("./cubao-free/Cubao_Free_Wide.otf");
      }

      #hero h2 {
        font-family: "fineday", sans-serif;
        font-size: 69px;
        margin-top: -30px;
      }

      #hero h1 {
        font-family: "cubao", sans-serif;
        font-size: 200px;
        color: #ff2e63;
        margin: -25px;
      }

      .goku {
        height: 140px;
        width: 230px;
        margin-bottom: -70px;
        z-index: 2;
      }

      .pixel {
        height: 410px;
      }

      #intro .container {
        display: grid;
        grid-template-rows: 234px 86px 160px 280px;
        grid-template-columns: 1fr 10fr 1fr;
        padding-top: 50px;
        background-color: #61b0c4;
      }

      .main {
        grid-area: 1 / 2 / 4 / 2;
      }

      .card {
        display: flex;
        height: 500px;
        align-items: center;
        justify-content: space-around;
        color: white;
        background-color: #ff2e63;
        font-family: "League Spartan", sans-serif;
        font-weight: 900;
        font-size: 60px;
        line-height: 80px;
        border-top: 20px solid #1a306c;
        border-left: 20px solid #1a306c;
        z-index: 2;
      }

      .me {
        border-radius: 50%;
        height: 400px;
        padding: 30px;
      }

      .naruto {
        display: flex;
        justify-content: right;
        margin-top: -50px;
      }

      .pixelnaruto {
        height: 300px;
      }

      .textbox {
        height: 200px;
        margin-right: -100px;
      }

      #skills {
        background-color: #61b0c4;
        position: relative;
        min-height: 810px; /* reserve space so things above don't shift (adjust if needed) */
        color: white;
        font-family: "League Spartan", sans-serif;
        font-weight: 900;
        font-size: 55px;
        line-height: 70px;
      }

      #skills .background {
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        height: 760px; /* sum of your grid rows: 234 + 86 + 160 + 280 */
        display: grid;
        background-color: #61b0c4;
        grid-template-rows: 234px 86px 160px 280px;
        padding-top: 50px;
        z-index: 0;
      }

      .content {
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 45fr 10fr 45fr;
        grid-template-rows: repeat(2, 380px);
      }

      .content div {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }

      .content p {
        padding: 50px;
      }

      .bluetext {
        color: black;
      }

      .redtext {
        background-color: #ff2e63;
        grid-area: 1 / 1 / 2 / 3;
        border-top: 10px solid #1a306c;
        border-left: 10px solid #1a306c;
      }

      .bluetext {
        background-color: #ddeced;
        grid-area: 2 / 2 / -1 / -1;
        border-top: 10px solid #86bdcd;
        border-left: 10px solid #86bdcd;
        margin-top: -10px;
      }

            #endGame {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
        height: 760px;
        background-color: #61b0c4;
        font-family: "Press Start 2P", system-ui;
        font-weight: 400;
        font-style: normal;
        color: white;
        font-size: 30px;
      }

      #endGame > div {
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        padding-bottom: 50px;
      }

      .aboutMe {
        padding: 0px 100px;
        margin-top: 30px;
      }